body::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 16rem;
    z-index: -1;
}
 
#page-search-results{
    width: 90%;
    max-width: 1100px;
    margin: 0 auto; /* alinhamento de caixa*/

}
#page-search-results header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

#page-search-results header a{
    color: var(--title-color);
    font-weight: bold;
    display: flex;
    align-items: center;

}
#page-search-results header a span{
    background-image: url('../icones/arrow-left.svg');
    width: 20px;
    height: 24px;
    display: flex;
    margin-right: 10px;
}

main{
    margin: 48px;

}
main h4{
    font-weight: normal;
    font-family: Roboto, sans-serif;
}
main .cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    
}
main .card img{ 
    width: 100%;
    height: 150px;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
}
main .card h1{
    margin-top: 32px;
    font-size: 36px;
    line-height: 41px;
    color: #322153;
}

main .card h3{
    margin: 24px 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    color: #34CB79;
}

main .card p{
    font-size: 16px;
    line-height: 26px;
    color: #6C6C80;
}